<!DOCTYPE html>
<html>
  <head>
    <title>Paysage home page</title>
    <style>
      canvas { position:absolute; }
      #id { position:relative; border: 1px dotted black; }
    </style>
  </head>
  <body>
    <ul>
      <li>
        <a href="programmer.html">code</a>
      </li>
      {{#each playgrounds}}
      <li>
        <a href="playground/{{@key}}">view playground {{@key}}</a>
      </li>
      {{/each}}
    </ul>
  </body>
</html>
