<!DOCTYPE html>
<html>
  <head>
    <title>Paysage list page</title>
    {{> favicon}}
    <style>
      canvas {position:absolute; top:0; left:0; right:0; bottom:0;  }
      #id {position:relative; border: 1px dotted black; }
      li {margin-bottom: 1.2em; word-spacing: 0.5em; list-style: none; }
    </style>
  </head>
  <body>
    <h1>Playgrounds:</h1>
    {{#if hasPlayground}}
    <p>Please choose a playground to join. Click 'view' to contemplate, 'code' to participate.</p>
    <ul>
      {{#each playgrounds}}
      <li>
        {{this}}:
        <a href="playground/{{this}}">view</a>,
        <a href="playground/{{this}}/programmer">code</a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
    <p>Click <a href="/">here</a> to start a new playground</p>
  </body>
</html>
