<!DOCTYPE html>
<html>
  <head>
    <title>Paysage list page</title>
    {{> favicon}}
    <style>
      canvas { position:absolute; top:0; left:0; right:0; bottom:0;  }
      #id { position:relative; border: 1px dotted black; }
    </style>
  </head>
  <body>
    <ul>
      {{#each playgrounds}}
      <li>
        {{@key}}:
        <a href="playground/{{@key}}">view</a>,
        <a href="playground/{{@key}}/programmer">code</a>
      </li>
      {{/each}}
    </ul>
  </body>
</html>
