<!DOCTYPE html>
<html>
  <head>
    <title>Paysage Playground {{title}}</title>
    <meta name="playgroundid" content="{{playgroundid}}"/>
  
    <style>
      canvas { position:absolute; }
      #id { position:relative; border: 1px dotted black; }
    </style>
  </head>

  <body>
   
    <div id="container" data-playgroundid="{{playgroundid}}"></div>

    <script src="processing.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="paysagerenderer.js"></script>
    
  </body>
</html>
