<!DOCTYPE html>
<html>
  <head>
    <title>Paysage Playground {{title}}</title>
    <meta name="playgroundid" content="{{playgroundid}}"/>

    <style>
      body { margin: 0; }
      canvas { position:absolute; top:0; left:0; right:0; bottom:0; }
      #id { position:relative; border: 1px dotted black; }
    </style>
  </head>

  <body>

    <div id="container" data-playgroundid="{{playgroundid}}"></div>

    <script src="/bower_components/Processing.js/processing.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/paysagerenderer.js"></script>

  </body>
</html>
