.example {
  width: 110px;
  height: 110px;
  margin: 10px;
  border: solid black 1px;
  display: inline-block;
}

.number-32 {
  background: url('/images/number_32.png');
}

.eye {
  background: url('/images/eye.png');
}

.serpent {
  background: url('/images/serpent.png');
}

html, body {
  height: 100%;
}

body {
  margin:0;
  padding:0;
}

.programmer-part {
  display:block;
  float:left;
  position:relative;
  width:50%;
  overflow-x: hidden;
}

.programmer-part .controls {
  padding: 5px;
}

.programmer-part textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.viewer-part {
  display:block;
  float:left;
  position:relative;
  width: 50%;
  height: 100%;
  overflow: visible;
  border-left: 1px solid black;
  margin-left: -1px;
  overflow: visible;
}

.viewer-part a {
  display: block;
  text-align: right;
  position: relative;
}

.viewer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 0;
}
