html, body {
  font-size:1em;
}

/*CLEARFIX MICRO HACK / thanks http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

body {
  margin: 0;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color:#333;
  min-width: 800px;
  min-height: 600px;
}

.programmertop {
  height: 50px;
}

#codeid {
  font-size: 2em;
  width: 10em;
  margin-bottom: 5px;
}

.programmer-part {
  float: left;
  display: table;
  height: 100%;
}

.programmer-part .programmer-row {
  display: table-row;
}

.codewrapper {
  height: 100%;
}

#code {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  resize: none;
  font-size: 12px;
  padding: 5px 5px 0px 5px;
}

#code, #viewercontainer>iframe, #objects {
  border: dashed #CCC 1px;
}

.programmercontrols {
  display: table-cell;
  height: 8em;
}

#objects {
  margin: 0;
  overflow: scroll;
  height: 100%;
}

.controls button, .controls a {
  font-size: 1em;
  padding: 12.5px;
  margin-left: 10px;
  float: right;
  text-decoration: none;
  border: 1px solid #333;
  color:#FFF;
  background-color:#333;
  display: inline-block;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;

  user-select: none;
}

.controls button:hover, .controls a:hover {
  cursor: pointer;
  color:#333;
  background-color:#FFF;
  text-decoration: none;
}

.controls a {
  background-color:#888;
  border-color: #888;
}

#previewonoff {
  float: left;
  margin-left: 0;
}

.examples {
  height: 0;
}

.example {
  margin: 1em 0 1em 1em;
  border-style: solid;
  width: 10%;
  height: 0;
  padding-bottom: 10%; /* trick to set height from width */
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
}

.number-32 {background: url('/images/number_32.png');}
.eye {background: url('/images/eye.png');}
.serpent {background: url('/images/serpent.png');}
.creature {background: url('/images/creature.png');}
.horizon {background: url('/images/horizon.png'); background-size: 105%;}

.glyphicon {
  font-size:1.2rem;
}

.example:hover {
  background-position: -0.3em;
  background-size: 110%;
}

.viewer-part {
  float: right;
  height: 100%;
  border-left: 2px solid black;
  display: table;
}

.viewer-part, .programmer-part {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

#viewercontainer {
  display: table-row;
}

.viewer-part .controls {
  height: 50px;
}

#viewercontainer {
  width: 100%;
  height: 100%;
  overflow: visible;
  margin-top: 5px;
}

.viewer {
  width: 100%;
  height: 100%;
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}
.switch-label {
  font-size:2rem;
  position: absolute;
  width: 140px;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
}

#previewisoff {display: none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
